In [1]:
import sqlalchemy

In [2]:
sqlalchemy.__version__

'2.0.20'

In [3]:
from sqlalchemy import create_engine, MetaData

In [4]:
from sqlalchemy.schema import Table, Column, ForeignKey

In [5]:
from sqlalchemy.types import Integer, Text

In [6]:
from sqlalchemy.sql import select, insert, update, delete, join, func

In [7]:
engine = create_engine('sqlite:///:memory:', echo=True)

In [8]:
con = engine.connect()

In [9]:
meta = MetaData()

In [10]:
meta.tables

FacadeDict({})

In [11]:
Table('USER', meta, 
      Column('PK', Integer, primary_key=True),
      Column('NAME', Text, nullable=False),
     )

Table('USER', MetaData(), Column('PK', Integer(), table=<USER>, primary_key=True, nullable=False), Column('NAME', Text(), table=<USER>, nullable=False), schema=None)

In [12]:
len(meta.tables)

1

In [13]:
User = meta.tables['USER']

In [14]:
print(User)

USER

In [15]:
print(User.insert())

INSERT INTO "USER" ("PK", "NAME") VALUES (:PK, :NAME)

In [16]:
meta.create_all(engine)

2023-09-06 10:13:58,120 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-06 10:13:58,121 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("USER")
2023-09-06 10:13:58,122 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-06 10:13:58,123 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("USER")
2023-09-06 10:13:58,124 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-06 10:13:58,126 INFO sqlalchemy.engine.Engine
CREATE TABLE "USER" (
	"PK" INTEGER NOT NULL,
	"NAME" TEXT NOT NULL,
	PRIMARY KEY ("PK")
)


2023-09-06 10:13:58,126 INFO sqlalchemy.engine.Engine [no key 0.00071s] ()
2023-09-06 10:13:58,129 INFO sqlalchemy.engine.Engine COMMIT

In [17]:
meta.drop_all(engine)

2023-09-06 10:13:58,153 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-06 10:13:58,154 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("USER")
2023-09-06 10:13:58,155 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-06 10:13:58,156 INFO sqlalchemy.engine.Engine
DROP TABLE "USER"
2023-09-06 10:13:58,157 INFO sqlalchemy.engine.Engine [no key 0.00094s] ()
2023-09-06 10:13:58,158 INFO sqlalchemy.engine.Engine COMMIT

In [18]:
meta.tables

FacadeDict({'USER': Table('USER', MetaData(), Column('PK', Integer(), table=<USER>, primary_key=True, nullable=False), Column('NAME', Text(), table=<USER>, nullable=False), schema=None)})

In [19]:
meta.remove(User)

In [20]:
meta.tables

FacadeDict({})

In [21]:
Table('USER', meta, 
      Column('PK', Integer, primary_key=True),
      Column('NAME', Text, nullable=False),
     )

Table('USER', MetaData(), Column('PK', Integer(), table=<USER>, primary_key=True, nullable=False), Column('NAME', Text(), table=<USER>, nullable=False), schema=None)

In [22]:
meta.create_all(engine)

2023-09-06 10:13:58,298 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-06 10:13:58,299 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("USER")
2023-09-06 10:13:58,300 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-06 10:13:58,300 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("USER")
2023-09-06 10:13:58,301 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-06 10:13:58,302 INFO sqlalchemy.engine.Engine
CREATE TABLE "USER" (
	"PK" INTEGER NOT NULL,
	"NAME" TEXT NOT NULL,
	PRIMARY KEY ("PK")
)


2023-09-06 10:13:58,303 INFO sqlalchemy.engine.Engine [no key 0.00089s] ()
2023-09-06 10:13:58,305 INFO sqlalchemy.engine.Engine COMMIT

In [23]:
User = meta.tables['USER']

In [24]:
meta.remove(User)

In [25]:
meta.reflect(engine)
#엔진에서 사라지고 객체에는 재반영

2023-09-06 10:13:58,390 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-06 10:13:58,391 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name
2023-09-06 10:13:58,392 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-06 10:13:58,394 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_temp_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name
2023-09-06 10:13:58,395 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-06 10:13:58,397 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("USER")
2023-09-06 10:13:58,397 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-06 10:13:58,398 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2023-09-06 10:13:58,399 INFO sqlalchemy.engine.Engine [raw sql] ('USER',)
2023-09-06 10:13:58,400 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("USER")
2023-09-06 10:13:58,400 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-06 10:13:58,401 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("USER")
2023-09-06 10:13:58,402 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-06 10:13:58,402 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2023-09-06 10:13:58,403 INFO sqlalchemy.engine.Engine [raw sql] ('USER',)
2023-09-06 10:13:58,404 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("USER")
2023-09-06 10:13:58,405 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-06 10:13:58,405 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("USER")
2023-09-06 10:13:58,406 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-06 10:13:58,407 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("USER")
2023-09-06 10:13:58,407 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-06 10:13:58,408 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("USER")
2023-09-06 10:13:58,408 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-06 10:13:58,409 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("USER")
2023-09-06 10:13:58,409 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-06 10:13:58,411 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("USER")
2023-09-06 10:13:58,411 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-06 10:13:58,412 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2023-09-06 10:13:58,413 INFO sqlalchemy.engine.Engine [raw sql] ('USER',)
2023-09-06 10:13:58,415 INFO sqlalchemy.engine.Engine ROLLBACK

In [26]:
meta.tables

FacadeDict({'USER': Table('USER', MetaData(), Column('PK', INTEGER(), table=<USER>, primary_key=True, nullable=False), Column('NAME', TEXT(), table=<USER>, nullable=False), schema=None)})

In [27]:
User = meta.tables['USER']

In [28]:
print(User.select())

SELECT "USER"."PK", "USER"."NAME"
FROM "USER"

In [29]:
dir(User.select())

['__annotations__',
 '__bool__',
 '__class__',
 '__class_getitem__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__invert__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__orig_bases__',
 '__parameters__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__slots__',
 '__str__',
 '__subclasshook__',
 '__visit_name__',
 '__weakref__',
 '_add_context_option',
 '_all_selected_columns',
 '_annotate',
 '_annotations',
 '_annotations_cache_key',
 '_assert_no_memoizations',
 '_attributes',
 '_auto_correlate',
 '_cache_key_traversal',
 '_clone',
 '_clone_annotations_traverse_internals',
 '_cloned_set',
 '_compile_options',
 '_compile_state_factory',
 '_compile_state_plugin',
 '_compile_w_cache',
 '_compiler',
 '_compiler_dispatch',
 '_constructor',
 '_copy_internals',
 '_correlate',
 '_correlate_except',
 '_create_raw_select',
 '_de_clone',
 '_deannotate',
 '_distinct',
 '_distinct_on',
 '_effective_plugin_target',
 '_ensure_disambiguated_names',
 '_executable_traverse_internals',
 '_execute_on_connection',
 '_execute_on_scalar',
 '_execution_options',
 '_fetch_clause',
 '_fetch_clause_options',
 '_filter_by_zero',
 '_for_update_arg',
 '_from_obj',
 '_from_objects',
 '_gen_annotations_cache_key',
 '_gen_cache_key',
 '_gen_static_annotations_cache_key',
 '_generate',
 '_generate_cache_attrs',
 '_generate_cache_key',
 '_generate_cache_key_for_object',
 '_generate_columns_plus_names',
 '_generate_compiler_dispatch',
 '_generate_fromclause_column_proxies',
 '_get_embedded_bindparams',
 '_group_by_clause',
 '_group_by_clauses',
 '_has_ctes_traverse_internals',
 '_has_hints_traverse_internals',
 '_has_prefixes_traverse_internals',
 '_has_row_limiting_clause',
 '_has_suffixes_traverse_internals',
 '_having_criteria',
 '_hierarchy_supports_caching',
 '_hints',
 '_implicit_subquery',
 '_independent_ctes',
 '_independent_ctes_opts',
 '_is_bind_parameter',
 '_is_clause_list',
 '_is_clone_of',
 '_is_column_element',
 '_is_default_generator',
 '_is_from_clause',
 '_is_from_container',
 '_is_has_cache_key',
 '_is_immutable',
 '_is_keyed_column_element',
 '_is_lambda_element',
 '_is_lateral',
 '_is_protocol',
 '_is_returns_rows',
 '_is_select_base',
 '_is_select_container',
 '_is_select_statement',
 '_is_singleton_constant',
 '_is_star',
 '_is_table',
 '_is_text_clause',
 '_is_textual',
 '_iterate_from_elements',
 '_label_style',
 '_limit',
 '_limit_clause',
 '_memoized_keys',
 '_memoized_select_entities',
 '_needs_parens_for_grouping',
 '_negate',
 '_negate_in_binary',
 '_offset',
 '_offset_clause',
 '_offset_or_limit_clause',
 '_offset_or_limit_clause_asint',
 '_order_by_clause',
 '_order_by_clauses',
 '_order_by_label_element',
 '_original_compiler_dispatch',
 '_prefixes',
 '_propagate_attrs',
 '_raw_columns',
 '_refresh_for_new_column',
 '_replace_params',
 '_reset_memoizations',
 '_role_name',
 '_scalar_type',
 '_set_compile_options',
 '_set_entities',
 '_set_memoized_attribute',
 '_set_propagate_attrs',
 '_setup_joins',
 '_simple_int_clause',
 '_statement_hints',
 '_suffixes',
 '_traverse_internals',
 '_ungroup',
 '_update_compile_options',
 '_where_criteria',
 '_whereclause',
 '_with_annotations',
 '_with_binary_element_type',
 '_with_context_options',
 '_with_hint',
 '_with_options',
 'add_columns',
 'add_cte',
 'alias',
 'allows_lambda',
 'as_scalar',
 'c',
 'column',
 'column_descriptions',
 'columns',
 'columns_clause_froms',
 'compare',
 'compile',
 'correlate',
 'correlate_except',
 'corresponding_column',
 'cte',
 'description',
 'distinct',
 'entity_namespace',
 'except_',
 'except_all',
 'execution_options',
 'exists',
 'exported_columns',
 'fetch',
 'filter',
 'filter_by',
 'from_statement',
 'froms',
 'get_children',
 'get_execution_options',
 'get_final_froms',
 'get_label_style',
 'group_by',
 'having',
 'inherit_cache',
 'inner_columns',
 'intersect',
 'intersect_all',
 'is_clause_element',
 'is_delete',
 'is_derived_from',
 'is_dml',
 'is_insert',
 'is_select',
 'is_selectable',
 'is_text',
 'is_update',
 'join',
 'join_from',
 'label',
 'lateral',
 'limit',
 'memoized_attribute',
 'memoized_instancemethod',
 'offset',
 'options',
 'order_by',
 'outerjoin',
 'outerjoin_from',
 'params',
 'prefix_with',
 'reduce_columns',
 'replace_selectable',
 'scalar_subquery',
 'select',
 'select_from',
 'selectable',
 'selected_columns',
 'self_group',
 'set_label_style',
 'slice',
 'stringify_dialect',
 'subquery',
 'suffix_with',
 'supports_execution',
 'union',
 'union_all',
 'unique_params',
 'uses_inspection',
 'where',
 'whereclause',
 'with_for_update',
 'with_hint',
 'with_only_columns',
 'with_statement_hint']

In [30]:
print(User.insert())

INSERT INTO "USER" ("PK", "NAME") VALUES (:PK, :NAME)

In [31]:
print(User.insert().values(PK=1, NAME="Philip").compile().params)

{'PK': 1, 'NAME': 'Philip'}

In [32]:
con.execute(User.insert().values(PK=1, NAME="Philip"))

2023-09-06 10:13:58,599 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-06 10:13:58,601 INFO sqlalchemy.engine.Engine INSERT INTO "USER" ("PK", "NAME") VALUES (?, ?)
2023-09-06 10:13:58,601 INFO sqlalchemy.engine.Engine [generated in 0.00155s] (1, 'Philip')

In [33]:
con.execute(User.select()).fetchall()

2023-09-06 10:13:58,631 INFO sqlalchemy.engine.Engine SELECT "USER"."PK", "USER"."NAME"
FROM "USER"
2023-09-06 10:13:58,632 INFO sqlalchemy.engine.Engine [generated in 0.00085s] ()

[(1, 'Philip')]

In [34]:
Table('ADDRESS', meta, 
        Column('PK', Integer, primary_key=True),
        Column('Name', Text),
        Column('FK', Integer, ForeignKey('USER.PK'))
     )

Table('ADDRESS', MetaData(), Column('PK', Integer(), table=<ADDRESS>, primary_key=True, nullable=False), Column('Name', Text(), table=<ADDRESS>), Column('FK', Integer(), ForeignKey('USER.PK'), table=<ADDRESS>), schema=None)

In [35]:
meta.create_all(engine)

2023-09-06 10:13:58,690 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-06 10:13:58,691 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("USER")
2023-09-06 10:13:58,691 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-06 10:13:58,692 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("ADDRESS")
2023-09-06 10:13:58,693 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-06 10:13:58,694 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("ADDRESS")
2023-09-06 10:13:58,695 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-06 10:13:58,697 INFO sqlalchemy.engine.Engine
CREATE TABLE "ADDRESS" (
	"PK" INTEGER NOT NULL,
	"Name" TEXT,
	"FK" INTEGER,
	PRIMARY KEY ("PK"),
	FOREIGN KEY("FK") REFERENCES "USER" ("PK")
)


2023-09-06 10:13:58,698 INFO sqlalchemy.engine.Engine [no key 0.00053s] ()
2023-09-06 10:13:58,698 INFO sqlalchemy.engine.Engine COMMIT

In [36]:
Table('TEMP', meta, 
        Column('PK', Integer, primary_key=True),
        Column('Name', Text),
        Column('FK', Integer, nullable=False)
     )

Table('TEMP', MetaData(), Column('PK', Integer(), table=<TEMP>, primary_key=True, nullable=False), Column('Name', Text(), table=<TEMP>), Column('FK', Integer(), table=<TEMP>, nullable=False), schema=None)

In [37]:
meta.create_all(engine)

2023-09-06 10:13:58,751 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-06 10:13:58,752 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("USER")
2023-09-06 10:13:58,752 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-06 10:13:58,753 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("ADDRESS")
2023-09-06 10:13:58,754 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-06 10:13:58,755 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("TEMP")
2023-09-06 10:13:58,756 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-06 10:13:58,756 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("TEMP")
2023-09-06 10:13:58,757 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-06 10:13:58,758 INFO sqlalchemy.engine.Engine
CREATE TABLE "TEMP" (
	"PK" INTEGER NOT NULL,
	"Name" TEXT,
	"FK" INTEGER NOT NULL,
	PRIMARY KEY ("PK")
)


2023-09-06 10:13:58,758 INFO sqlalchemy.engine.Engine [no key 0.00050s] ()
2023-09-06 10:13:58,760 INFO sqlalchemy.engine.Engine COMMIT

In [38]:
Address = meta.tables['ADDRESS']

In [39]:
Address.insert().values(PK=1, NAME='PhilipSung', FK=1)

In [40]:
Temp = meta.tables['TEMP']

In [41]:
Temp.insert().values(PK=1, NAME='PhilipSung', FK=9776)

In [42]:
con.execute(select(meta.tables['USER'], 
                   meta.tables['ADDRESS'],
                   meta.tables['TEMP'],
                  )).fetchall()

2023-09-06 10:13:58,903 INFO sqlalchemy.engine.Engine SELECT "USER"."PK", "USER"."NAME", "ADDRESS"."PK" AS "PK_1", "ADDRESS"."Name", "ADDRESS"."FK", "TEMP"."PK" AS "PK_2", "TEMP"."Name" AS "Name_1", "TEMP"."FK" AS "FK_1"
FROM "USER", "ADDRESS", "TEMP"
2023-09-06 10:13:58,904 INFO sqlalchemy.engine.Engine [generated in 0.00073s] ()

C:\Users\Egn\AppData\Local\Temp\ipykernel_8692\1685076901.py:1: SAWarning: SELECT statement has a cartesian product between FROM element(s) "USER", "TEMP" and FROM element "ADDRESS".  Apply join condition(s) between each element to resolve.
  con.execute(select(meta.tables['USER'],

[]

In [43]:
con.execute(select(meta.tables['USER'].columns['PK'],
                   meta.tables['USER'].c.NAME,
                   meta.tables['TEMP'].c.PK,
                  
                  )).fetchall()

2023-09-06 10:13:58,933 INFO sqlalchemy.engine.Engine SELECT "USER"."PK", "USER"."NAME", "TEMP"."PK" AS "PK_1"
FROM "USER", "TEMP"
2023-09-06 10:13:58,934 INFO sqlalchemy.engine.Engine [generated in 0.00140s] ()

C:\Users\Egn\AppData\Local\Temp\ipykernel_8692\4137791389.py:1: SAWarning: SELECT statement has a cartesian product between FROM element(s) "TEMP" and FROM element "USER".  Apply join condition(s) between each element to resolve.
  con.execute(select(meta.tables['USER'].columns['PK'],

[]

In [44]:
print(User.select().where(User.c.PK == 1))

SELECT "USER"."PK", "USER"."NAME"
FROM "USER"
WHERE "USER"."PK" = :PK_1

In [45]:
print(User.c.PK == Temp.c.PK)

"USER"."PK" = "TEMP"."PK"

In [47]:
print(User.join(Address))

"USER" JOIN "ADDRESS" ON "USER"."PK" = "ADDRESS"."FK"

In [48]:
from sqlalchemy.sql import or_, and_, between

In [49]:
print(or_(User.c.PK == 1, User.c.PK == 2))

"USER"."PK" = :PK_1 OR "USER"."PK" = :PK_2

In [50]:
print(User.c.NAME.like('%Philip%'))

"USER"."NAME" LIKE :NAME_1

In [54]:
print(User.select().where(User.c.NAME.like('%Philip%')).order_by(User.c.PK))

SELECT "USER"."PK", "USER"."NAME"
FROM "USER"
WHERE "USER"."NAME" LIKE :NAME_1 ORDER BY "USER"."PK"

In [55]:
print((User.c.NAME=="PhilipSung") & (User.c.PK==1))

"USER"."NAME" = :NAME_1 AND "USER"."PK" = :PK_1

In [56]:
print(User.join(Address))

"USER" JOIN "ADDRESS" ON "USER"."PK" = "ADDRESS"."FK"

In [57]:
print(select().select_from(User.join(Address)))
#조인한것을 다시 테이블의 형태로 사용하여야 할 때 쓴다.

SELECT
FROM "USER" JOIN "ADDRESS" ON "USER"."PK" = "ADDRESS"."FK"

In [58]:
print(select(User).join(Address))

SELECT "USER"."PK", "USER"."NAME"
FROM "USER" JOIN "ADDRESS" ON "USER"."PK" = "ADDRESS"."FK"

## 예제 01

### 테스트를 위해 초기화

In [55]:
engine.dispose()

In [56]:
meta.clear()

In [57]:
engine = create_engine('sqlite:///:memory:', echo=True)

In [58]:
con = engine.connect()

In [59]:
meta = MetaData()

In [60]:
import random

노래추천을 위한 시스템을 만든다라고 치고, Track, Album, Artist, Genre라는 테이블로 구성한다. Track은 AlbumID를 ForeignKey로, Album은 Artist를 ForeignKey로 갖는다.

In [61]:
Table('T_Artist', meta, 
      Column('PK', Integer, primary_key=True),
      Column('NAME', Text, nullable=False),
)

Table('T_Artist', MetaData(), Column('PK', Integer(), table=<T_Artist>, primary_key=True, nullable=False), Column('NAME', Text(), table=<T_Artist>, nullable=False), schema=None)

In [62]:

Table('T_Album', meta, 
      Column('PK', Integer, primary_key=True),
      Column('NAME', Text, nullable=False),
      Column('FK', None, ForeignKey('T_Artist.PK')),
)

Table('T_Album', MetaData(), Column('PK', Integer(), table=<T_Album>, primary_key=True, nullable=False), Column('NAME', Text(), table=<T_Album>, nullable=False), Column('FK', Integer(), ForeignKey('T_Artist.PK'), table=<T_Album>), schema=None)

In [63]:

Table('T_Genre', meta, 
      Column('PK', Integer, primary_key=True),
      Column('NAME', Text, nullable=False),
)

Table('T_Genre', MetaData(), Column('PK', Integer(), table=<T_Genre>, primary_key=True, nullable=False), Column('NAME', Text(), table=<T_Genre>, nullable=False), schema=None)

In [64]:

Table('T_Track', meta, 
      Column('PK', Integer, primary_key=True),
      Column('NAME', Text, nullable=False),
      Column('FK_Album', Integer, ForeignKey('T_Album.PK'), nullable=False),
      Column('FK_Genre', Integer, ForeignKey('T_Genre.PK'), nullable=False)
)

Table('T_Track', MetaData(), Column('PK', Integer(), table=<T_Track>, primary_key=True, nullable=False), Column('NAME', Text(), table=<T_Track>, nullable=False), Column('FK_Album', Integer(), ForeignKey('T_Album.PK'), table=<T_Track>, nullable=False), Column('FK_Genre', Integer(), ForeignKey('T_Genre.PK'), table=<T_Track>, nullable=False), schema=None)

In [65]:
len(meta.tables)

4

In [66]:
meta.create_all(engine)

2023-09-06 11:54:51,633 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-06 11:54:51,634 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("T_Artist")
2023-09-06 11:54:51,636 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-06 11:54:51,638 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("T_Artist")
2023-09-06 11:54:51,639 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-06 11:54:51,640 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("T_Album")
2023-09-06 11:54:51,641 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-06 11:54:51,642 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("T_Album")
2023-09-06 11:54:51,643 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-06 11:54:51,643 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("T_Genre")
2023-09-06 11:54:51,644 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-06 11:54:51,645 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("T_Genre")
2023-09-06 11:54:51,646 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-06 11:54:51,647 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("T_Track")
2023-09-06 11:54:51,647 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-06 11:54:51,649 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("T_Track")
2023-09-06 11:54:51,649 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-06 11:54:51,651 INFO sqlalchemy.engine.Engine
CREATE TABLE "T_Artist" (
	"PK" INTEGER NOT NULL,
	"NAME" TEXT NOT NULL,
	PRIMARY KEY ("PK")
)


2023-09-06 11:54:51,653 INFO sqlalchemy.engine.Engine [no key 0.00203s] ()
2023-09-06 11:54:51,654 INFO sqlalchemy.engine.Engine
CREATE TABLE "T_Genre" (
	"PK" INTEGER NOT NULL,
	"NAME" TEXT NOT NULL,
	PRIMARY KEY ("PK")
)


2023-09-06 11:54:51,655 INFO sqlalchemy.engine.Engine [no key 0.00061s] ()
2023-09-06 11:54:51,656 INFO sqlalchemy.engine.Engine
CREATE TABLE "T_Album" (
	"PK" INTEGER NOT NULL,
	"NAME" TEXT NOT NULL,
	"FK" INTEGER,
	PRIMARY KEY ("PK"),
	FOREIGN KEY("FK") REFERENCES "T_Artist" ("PK")
)


2023-09-06 11:54:51,657 INFO sqlalchemy.engine.Engine [no key 0.00057s] ()
2023-09-06 11:54:51,658 INFO sqlalchemy.engine.Engine
CREATE TABLE "T_Track" (
	"PK" INTEGER NOT NULL,
	"NAME" TEXT NOT NULL,
	"FK_Album" INTEGER NOT NULL,
	"FK_Genre" INTEGER NOT NULL,
	PRIMARY KEY ("PK"),
	FOREIGN KEY("FK_Album") REFERENCES "T_Album" ("PK"),
	FOREIGN KEY("FK_Genre") REFERENCES "T_Genre" ("PK")
)


2023-09-06 11:54:51,658 INFO sqlalchemy.engine.Engine [no key 0.00047s] ()
2023-09-06 11:54:51,659 INFO sqlalchemy.engine.Engine COMMIT

In [67]:
for name in ['Singer1','Singer2','Singer3','Singer4']:
    con.execute(meta.tables['T_Artist'].insert().values(NAME=name))

2023-09-06 11:54:52,258 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-06 11:54:52,260 INFO sqlalchemy.engine.Engine INSERT INTO "T_Artist" ("NAME") VALUES (?)
2023-09-06 11:54:52,261 INFO sqlalchemy.engine.Engine [generated in 0.00206s] ('Singer1',)
2023-09-06 11:54:52,262 INFO sqlalchemy.engine.Engine INSERT INTO "T_Artist" ("NAME") VALUES (?)
2023-09-06 11:54:52,264 INFO sqlalchemy.engine.Engine [cached since 0.005119s ago] ('Singer2',)
2023-09-06 11:54:52,265 INFO sqlalchemy.engine.Engine INSERT INTO "T_Artist" ("NAME") VALUES (?)
2023-09-06 11:54:52,266 INFO sqlalchemy.engine.Engine [cached since 0.00754s ago] ('Singer3',)
2023-09-06 11:54:52,268 INFO sqlalchemy.engine.Engine INSERT INTO "T_Artist" ("NAME") VALUES (?)
2023-09-06 11:54:52,268 INFO sqlalchemy.engine.Engine [cached since 0.00964s ago] ('Singer4',)

In [68]:
A = meta.tables['T_Artist']
B = meta.tables['T_Album']
C = meta.tables['T_Genre']
D = meta.tables['T_Track']

In [69]:
print(select(A.c.PK).where(A.c.NAME.like('%1')))

SELECT "T_Artist"."PK"
FROM "T_Artist"
WHERE "T_Artist"."NAME" LIKE :NAME_1

In [70]:
for key in ['1', '2', '3', '4']:
    for name in ['앨범1', '앨범2']:
        albumname = f'가수{key}_{name}'
        fk = con.execute(select(A.c.PK).where(A.c.NAME.like('%' + key))).fetchone()[0]
        con.execute(B.insert().values(NAME=albumname, FK=fk))

2023-09-06 11:54:53,951 INFO sqlalchemy.engine.Engine SELECT "T_Artist"."PK"
FROM "T_Artist"
WHERE "T_Artist"."NAME" LIKE ?
2023-09-06 11:54:53,952 INFO sqlalchemy.engine.Engine [generated in 0.00138s] ('%1',)
2023-09-06 11:54:53,955 INFO sqlalchemy.engine.Engine INSERT INTO "T_Album" ("NAME", "FK") VALUES (?, ?)
2023-09-06 11:54:53,956 INFO sqlalchemy.engine.Engine [generated in 0.00131s] ('가수1_앨범1', 1)
2023-09-06 11:54:53,958 INFO sqlalchemy.engine.Engine SELECT "T_Artist"."PK"
FROM "T_Artist"
WHERE "T_Artist"."NAME" LIKE ?
2023-09-06 11:54:53,958 INFO sqlalchemy.engine.Engine [cached since 0.00731s ago] ('%1',)
2023-09-06 11:54:53,960 INFO sqlalchemy.engine.Engine INSERT INTO "T_Album" ("NAME", "FK") VALUES (?, ?)
2023-09-06 11:54:53,960 INFO sqlalchemy.engine.Engine [cached since 0.00575s ago] ('가수1_앨범2', 1)
2023-09-06 11:54:53,961 INFO sqlalchemy.engine.Engine SELECT "T_Artist"."PK"
FROM "T_Artist"
WHERE "T_Artist"."NAME" LIKE ?
2023-09-06 11:54:53,962 INFO sqlalchemy.engine.Engine [cached since 0.01073s ago] ('%2',)
2023-09-06 11:54:53,963 INFO sqlalchemy.engine.Engine INSERT INTO "T_Album" ("NAME", "FK") VALUES (?, ?)
2023-09-06 11:54:53,963 INFO sqlalchemy.engine.Engine [cached since 0.00896s ago] ('가수2_앨범1', 2)
2023-09-06 11:54:53,964 INFO sqlalchemy.engine.Engine SELECT "T_Artist"."PK"
FROM "T_Artist"
WHERE "T_Artist"."NAME" LIKE ?
2023-09-06 11:54:53,965 INFO sqlalchemy.engine.Engine [cached since 0.01376s ago] ('%2',)
2023-09-06 11:54:53,965 INFO sqlalchemy.engine.Engine INSERT INTO "T_Album" ("NAME", "FK") VALUES (?, ?)
2023-09-06 11:54:53,966 INFO sqlalchemy.engine.Engine [cached since 0.01139s ago] ('가수2_앨범2', 2)
2023-09-06 11:54:53,966 INFO sqlalchemy.engine.Engine SELECT "T_Artist"."PK"
FROM "T_Artist"
WHERE "T_Artist"."NAME" LIKE ?
2023-09-06 11:54:53,967 INFO sqlalchemy.engine.Engine [cached since 0.01589s ago] ('%3',)
2023-09-06 11:54:53,968 INFO sqlalchemy.engine.Engine INSERT INTO "T_Album" ("NAME", "FK") VALUES (?, ?)
2023-09-06 11:54:53,969 INFO sqlalchemy.engine.Engine [cached since 0.01382s ago] ('가수3_앨범1', 3)
2023-09-06 11:54:53,969 INFO sqlalchemy.engine.Engine SELECT "T_Artist"."PK"
FROM "T_Artist"
WHERE "T_Artist"."NAME" LIKE ?
2023-09-06 11:54:53,970 INFO sqlalchemy.engine.Engine [cached since 0.01864s ago] ('%3',)
2023-09-06 11:54:53,970 INFO sqlalchemy.engine.Engine INSERT INTO "T_Album" ("NAME", "FK") VALUES (?, ?)
2023-09-06 11:54:53,971 INFO sqlalchemy.engine.Engine [cached since 0.01602s ago] ('가수3_앨범2', 3)
2023-09-06 11:54:53,971 INFO sqlalchemy.engine.Engine SELECT "T_Artist"."PK"
FROM "T_Artist"
WHERE "T_Artist"."NAME" LIKE ?
2023-09-06 11:54:53,972 INFO sqlalchemy.engine.Engine [cached since 0.02052s ago] ('%4',)
2023-09-06 11:54:53,972 INFO sqlalchemy.engine.Engine INSERT INTO "T_Album" ("NAME", "FK") VALUES (?, ?)
2023-09-06 11:54:53,973 INFO sqlalchemy.engine.Engine [cached since 0.01839s ago] ('가수4_앨범1', 4)
2023-09-06 11:54:53,974 INFO sqlalchemy.engine.Engine SELECT "T_Artist"."PK"
FROM "T_Artist"
WHERE "T_Artist"."NAME" LIKE ?
2023-09-06 11:54:53,974 INFO sqlalchemy.engine.Engine [cached since 0.02324s ago] ('%4',)
2023-09-06 11:54:53,975 INFO sqlalchemy.engine.Engine INSERT INTO "T_Album" ("NAME", "FK") VALUES (?, ?)
2023-09-06 11:54:53,976 INFO sqlalchemy.engine.Engine [cached since 0.02123s ago] ('가수4_앨범2', 4)

In [71]:
con.execute(select(A.c.NAME, B.c.NAME).join(B)).fetchall()

2023-09-06 11:54:54,448 INFO sqlalchemy.engine.Engine SELECT "T_Artist"."NAME", "T_Album"."NAME" AS "NAME_1"
FROM "T_Artist" JOIN "T_Album" ON "T_Artist"."PK" = "T_Album"."FK"
2023-09-06 11:54:54,449 INFO sqlalchemy.engine.Engine [generated in 0.00127s] ()

[('Singer1', '가수1_앨범1'),
 ('Singer1', '가수1_앨범2'),
 ('Singer2', '가수2_앨범1'),
 ('Singer2', '가수2_앨범2'),
 ('Singer3', '가수3_앨범1'),
 ('Singer3', '가수3_앨범2'),
 ('Singer4', '가수4_앨범1'),
 ('Singer4', '가수4_앨범2')]

In [72]:
for name in ['Genre1','Genre2','Genre3','Genre4']:
    con.execute(meta.tables['T_Genre'].insert().values(NAME=name))

2023-09-06 11:54:54,860 INFO sqlalchemy.engine.Engine INSERT INTO "T_Genre" ("NAME") VALUES (?)
2023-09-06 11:54:54,861 INFO sqlalchemy.engine.Engine [generated in 0.00103s] ('Genre1',)
2023-09-06 11:54:54,863 INFO sqlalchemy.engine.Engine INSERT INTO "T_Genre" ("NAME") VALUES (?)
2023-09-06 11:54:54,864 INFO sqlalchemy.engine.Engine [cached since 0.003933s ago] ('Genre2',)
2023-09-06 11:54:54,866 INFO sqlalchemy.engine.Engine INSERT INTO "T_Genre" ("NAME") VALUES (?)
2023-09-06 11:54:54,866 INFO sqlalchemy.engine.Engine [cached since 0.006093s ago] ('Genre3',)
2023-09-06 11:54:54,868 INFO sqlalchemy.engine.Engine INSERT INTO "T_Genre" ("NAME") VALUES (?)
2023-09-06 11:54:54,869 INFO sqlalchemy.engine.Engine [cached since 0.00842s ago] ('Genre4',)

In [73]:
con.execute(select(A)).fetchall()

2023-09-06 11:54:55,225 INFO sqlalchemy.engine.Engine SELECT "T_Artist"."PK", "T_Artist"."NAME"
FROM "T_Artist"
2023-09-06 11:54:55,226 INFO sqlalchemy.engine.Engine [generated in 0.00100s] ()

[(1, 'Singer1'), (2, 'Singer2'), (3, 'Singer3'), (4, 'Singer4')]

In [74]:
con.execute(select(B)).fetchall()

2023-09-06 11:54:55,621 INFO sqlalchemy.engine.Engine SELECT "T_Album"."PK", "T_Album"."NAME", "T_Album"."FK"
FROM "T_Album"
2023-09-06 11:54:55,623 INFO sqlalchemy.engine.Engine [generated in 0.00137s] ()

[(1, '가수1_앨범1', 1),
 (2, '가수1_앨범2', 1),
 (3, '가수2_앨범1', 2),
 (4, '가수2_앨범2', 2),
 (5, '가수3_앨범1', 3),
 (6, '가수3_앨범2', 3),
 (7, '가수4_앨범1', 4),
 (8, '가수4_앨범2', 4)]

In [75]:
con.execute(select(C)).fetchall()

2023-09-06 11:54:55,960 INFO sqlalchemy.engine.Engine SELECT "T_Genre"."PK", "T_Genre"."NAME"
FROM "T_Genre"
2023-09-06 11:54:55,961 INFO sqlalchemy.engine.Engine [generated in 0.00131s] ()

[(1, 'Genre1'), (2, 'Genre2'), (3, 'Genre3'), (4, 'Genre4')]

In [76]:
con.execute(select(B.c.PK)).fetchone()[0]

2023-09-06 11:54:56,435 INFO sqlalchemy.engine.Engine SELECT "T_Album"."PK"
FROM "T_Album"
2023-09-06 11:54:56,437 INFO sqlalchemy.engine.Engine [generated in 0.00132s] ()

1

In [77]:
for row in con.execute(select(B.c.PK)).fetchall():
    for name in ['노래1', '노래2', '노래3', '노래4']:
        genre = random.randrange(1,5)
        musicname = f'앨범{row[0]}_{name}_장르{genre}'
        con.execute(D.insert().values(NAME=musicname, FK_Album=row[0], FK_Genre=genre))

2023-09-06 11:54:56,761 INFO sqlalchemy.engine.Engine SELECT "T_Album"."PK"
FROM "T_Album"
2023-09-06 11:54:56,762 INFO sqlalchemy.engine.Engine [cached since 0.3268s ago] ()
2023-09-06 11:54:56,764 INFO sqlalchemy.engine.Engine INSERT INTO "T_Track" ("NAME", "FK_Album", "FK_Genre") VALUES (?, ?, ?)
2023-09-06 11:54:56,765 INFO sqlalchemy.engine.Engine [generated in 0.00093s] ('앨범1_노래1_장르4', 1, 4)
2023-09-06 11:54:56,767 INFO sqlalchemy.engine.Engine INSERT INTO "T_Track" ("NAME", "FK_Album", "FK_Genre") VALUES (?, ?, ?)
2023-09-06 11:54:56,767 INFO sqlalchemy.engine.Engine [cached since 0.00376s ago] ('앨범1_노래2_장르2', 1, 2)
2023-09-06 11:54:56,769 INFO sqlalchemy.engine.Engine INSERT INTO "T_Track" ("NAME", "FK_Album", "FK_Genre") VALUES (?, ?, ?)
2023-09-06 11:54:56,770 INFO sqlalchemy.engine.Engine [cached since 0.006116s ago] ('앨범1_노래3_장르3', 1, 3)
2023-09-06 11:54:56,771 INFO sqlalchemy.engine.Engine INSERT INTO "T_Track" ("NAME", "FK_Album", "FK_Genre") VALUES (?, ?, ?)
2023-09-06 11:54:56,772 INFO sqlalchemy.engine.Engine [cached since 0.008153s ago] ('앨범1_노래4_장르1', 1, 1)
2023-09-06 11:54:56,773 INFO sqlalchemy.engine.Engine INSERT INTO "T_Track" ("NAME", "FK_Album", "FK_Genre") VALUES (?, ?, ?)
2023-09-06 11:54:56,774 INFO sqlalchemy.engine.Engine [cached since 0.01056s ago] ('앨범2_노래1_장르3', 2, 3)
2023-09-06 11:54:56,776 INFO sqlalchemy.engine.Engine INSERT INTO "T_Track" ("NAME", "FK_Album", "FK_Genre") VALUES (?, ?, ?)
2023-09-06 11:54:56,777 INFO sqlalchemy.engine.Engine [cached since 0.01298s ago] ('앨범2_노래2_장르2', 2, 2)
2023-09-06 11:54:56,778 INFO sqlalchemy.engine.Engine INSERT INTO "T_Track" ("NAME", "FK_Album", "FK_Genre") VALUES (?, ?, ?)
2023-09-06 11:54:56,778 INFO sqlalchemy.engine.Engine [cached since 0.01453s ago] ('앨범2_노래3_장르1', 2, 1)
2023-09-06 11:54:56,779 INFO sqlalchemy.engine.Engine INSERT INTO "T_Track" ("NAME", "FK_Album", "FK_Genre") VALUES (?, ?, ?)
2023-09-06 11:54:56,780 INFO sqlalchemy.engine.Engine [cached since 0.01637s ago] ('앨범2_노래4_장르2', 2, 2)
2023-09-06 11:54:56,781 INFO sqlalchemy.engine.Engine INSERT INTO "T_Track" ("NAME", "FK_Album", "FK_Genre") VALUES (?, ?, ?)
2023-09-06 11:54:56,782 INFO sqlalchemy.engine.Engine [cached since 0.01791s ago] ('앨범3_노래1_장르3', 3, 3)
2023-09-06 11:54:56,782 INFO sqlalchemy.engine.Engine INSERT INTO "T_Track" ("NAME", "FK_Album", "FK_Genre") VALUES (?, ?, ?)
2023-09-06 11:54:56,783 INFO sqlalchemy.engine.Engine [cached since 0.0193s ago] ('앨범3_노래2_장르3', 3, 3)
2023-09-06 11:54:56,784 INFO sqlalchemy.engine.Engine INSERT INTO "T_Track" ("NAME", "FK_Album", "FK_Genre") VALUES (?, ?, ?)
2023-09-06 11:54:56,784 INFO sqlalchemy.engine.Engine [cached since 0.0204s ago] ('앨범3_노래3_장르2', 3, 2)
2023-09-06 11:54:56,785 INFO sqlalchemy.engine.Engine INSERT INTO "T_Track" ("NAME", "FK_Album", "FK_Genre") VALUES (?, ?, ?)
2023-09-06 11:54:56,786 INFO sqlalchemy.engine.Engine [cached since 0.02206s ago] ('앨범3_노래4_장르4', 3, 4)
2023-09-06 11:54:56,787 INFO sqlalchemy.engine.Engine INSERT INTO "T_Track" ("NAME", "FK_Album", "FK_Genre") VALUES (?, ?, ?)
2023-09-06 11:54:56,788 INFO sqlalchemy.engine.Engine [cached since 0.02372s ago] ('앨범4_노래1_장르2', 4, 2)
2023-09-06 11:54:56,789 INFO sqlalchemy.engine.Engine INSERT INTO "T_Track" ("NAME", "FK_Album", "FK_Genre") VALUES (?, ?, ?)
2023-09-06 11:54:56,789 INFO sqlalchemy.engine.Engine [cached since 0.02543s ago] ('앨범4_노래2_장르3', 4, 3)
2023-09-06 11:54:56,790 INFO sqlalchemy.engine.Engine INSERT INTO "T_Track" ("NAME", "FK_Album", "FK_Genre") VALUES (?, ?, ?)
2023-09-06 11:54:56,791 INFO sqlalchemy.engine.Engine [cached since 0.02703s ago] ('앨범4_노래3_장르1', 4, 1)
2023-09-06 11:54:56,792 INFO sqlalchemy.engine.Engine INSERT INTO "T_Track" ("NAME", "FK_Album", "FK_Genre") VALUES (?, ?, ?)
2023-09-06 11:54:56,792 INFO sqlalchemy.engine.Engine [cached since 0.02835s ago] ('앨범4_노래4_장르1', 4, 1)
2023-09-06 11:54:56,793 INFO sqlalchemy.engine.Engine INSERT INTO "T_Track" ("NAME", "FK_Album", "FK_Genre") VALUES (?, ?, ?)
2023-09-06 11:54:56,793 INFO sqlalchemy.engine.Engine [cached since 0.02956s ago] ('앨범5_노래1_장르2', 5, 2)
2023-09-06 11:54:56,794 INFO sqlalchemy.engine.Engine INSERT INTO "T_Track" ("NAME", "FK_Album", "FK_Genre") VALUES (?, ?, ?)
2023-09-06 11:54:56,795 INFO sqlalchemy.engine.Engine [cached since 0.03098s ago] ('앨범5_노래2_장르4', 5, 4)
2023-09-06 11:54:56,796 INFO sqlalchemy.engine.Engine INSERT INTO "T_Track" ("NAME", "FK_Album", "FK_Genre") VALUES (?, ?, ?)
2023-09-06 11:54:56,797 INFO sqlalchemy.engine.Engine [cached since 0.03337s ago] ('앨범5_노래3_장르2', 5, 2)
2023-09-06 11:54:56,799 INFO sqlalchemy.engine.Engine INSERT INTO "T_Track" ("NAME", "FK_Album", "FK_Genre") VALUES (?, ?, ?)
2023-09-06 11:54:56,801 INFO sqlalchemy.engine.Engine [cached since 0.0367s ago] ('앨범5_노래4_장르2', 5, 2)
2023-09-06 11:54:56,802 INFO sqlalchemy.engine.Engine INSERT INTO "T_Track" ("NAME", "FK_Album", "FK_Genre") VALUES (?, ?, ?)
2023-09-06 11:54:56,803 INFO sqlalchemy.engine.Engine [cached since 0.03935s ago] ('앨범6_노래1_장르1', 6, 1)
2023-09-06 11:54:56,804 INFO sqlalchemy.engine.Engine INSERT INTO "T_Track" ("NAME", "FK_Album", "FK_Genre") VALUES (?, ?, ?)
2023-09-06 11:54:56,805 INFO sqlalchemy.engine.Engine [cached since 0.04116s ago] ('앨범6_노래2_장르2', 6, 2)
2023-09-06 11:54:56,806 INFO sqlalchemy.engine.Engine INSERT INTO "T_Track" ("NAME", "FK_Album", "FK_Genre") VALUES (?, ?, ?)
2023-09-06 11:54:56,807 INFO sqlalchemy.engine.Engine [cached since 0.04341s ago] ('앨범6_노래3_장르2', 6, 2)
2023-09-06 11:54:56,808 INFO sqlalchemy.engine.Engine INSERT INTO "T_Track" ("NAME", "FK_Album", "FK_Genre") VALUES (?, ?, ?)
2023-09-06 11:54:56,808 INFO sqlalchemy.engine.Engine [cached since 0.04477s ago] ('앨범6_노래4_장르3', 6, 3)
2023-09-06 11:54:56,809 INFO sqlalchemy.engine.Engine INSERT INTO "T_Track" ("NAME", "FK_Album", "FK_Genre") VALUES (?, ?, ?)
2023-09-06 11:54:56,810 INFO sqlalchemy.engine.Engine [cached since 0.04632s ago] ('앨범7_노래1_장르4', 7, 4)
2023-09-06 11:54:56,811 INFO sqlalchemy.engine.Engine INSERT INTO "T_Track" ("NAME", "FK_Album", "FK_Genre") VALUES (?, ?, ?)
2023-09-06 11:54:56,811 INFO sqlalchemy.engine.Engine [cached since 0.04755s ago] ('앨범7_노래2_장르3', 7, 3)
2023-09-06 11:54:56,814 INFO sqlalchemy.engine.Engine INSERT INTO "T_Track" ("NAME", "FK_Album", "FK_Genre") VALUES (?, ?, ?)
2023-09-06 11:54:56,815 INFO sqlalchemy.engine.Engine [cached since 0.05048s ago] ('앨범7_노래3_장르2', 7, 2)
2023-09-06 11:54:56,816 INFO sqlalchemy.engine.Engine INSERT INTO "T_Track" ("NAME", "FK_Album", "FK_Genre") VALUES (?, ?, ?)
2023-09-06 11:54:56,817 INFO sqlalchemy.engine.Engine [cached since 0.05296s ago] ('앨범7_노래4_장르1', 7, 1)
2023-09-06 11:54:56,818 INFO sqlalchemy.engine.Engine INSERT INTO "T_Track" ("NAME", "FK_Album", "FK_Genre") VALUES (?, ?, ?)
2023-09-06 11:54:56,819 INFO sqlalchemy.engine.Engine [cached since 0.05496s ago] ('앨범8_노래1_장르1', 8, 1)
2023-09-06 11:54:56,820 INFO sqlalchemy.engine.Engine INSERT INTO "T_Track" ("NAME", "FK_Album", "FK_Genre") VALUES (?, ?, ?)
2023-09-06 11:54:56,820 INFO sqlalchemy.engine.Engine [cached since 0.05635s ago] ('앨범8_노래2_장르1', 8, 1)
2023-09-06 11:54:56,821 INFO sqlalchemy.engine.Engine INSERT INTO "T_Track" ("NAME", "FK_Album", "FK_Genre") VALUES (?, ?, ?)
2023-09-06 11:54:56,822 INFO sqlalchemy.engine.Engine [cached since 0.05751s ago] ('앨범8_노래3_장르1', 8, 1)
2023-09-06 11:54:56,822 INFO sqlalchemy.engine.Engine INSERT INTO "T_Track" ("NAME", "FK_Album", "FK_Genre") VALUES (?, ?, ?)
2023-09-06 11:54:56,823 INFO sqlalchemy.engine.Engine [cached since 0.05875s ago] ('앨범8_노래4_장르2', 8, 2)

In [78]:
con.execute(select(D)).fetchall()

2023-09-06 11:54:57,320 INFO sqlalchemy.engine.Engine SELECT "T_Track"."PK", "T_Track"."NAME", "T_Track"."FK_Album", "T_Track"."FK_Genre"
FROM "T_Track"
2023-09-06 11:54:57,320 INFO sqlalchemy.engine.Engine [generated in 0.00110s] ()

[(1, '앨범1_노래1_장르4', 1, 4),
 (2, '앨범1_노래2_장르2', 1, 2),
 (3, '앨범1_노래3_장르3', 1, 3),
 (4, '앨범1_노래4_장르1', 1, 1),
 (5, '앨범2_노래1_장르3', 2, 3),
 (6, '앨범2_노래2_장르2', 2, 2),
 (7, '앨범2_노래3_장르1', 2, 1),
 (8, '앨범2_노래4_장르2', 2, 2),
 (9, '앨범3_노래1_장르3', 3, 3),
 (10, '앨범3_노래2_장르3', 3, 3),
 (11, '앨범3_노래3_장르2', 3, 2),
 (12, '앨범3_노래4_장르4', 3, 4),
 (13, '앨범4_노래1_장르2', 4, 2),
 (14, '앨범4_노래2_장르3', 4, 3),
 (15, '앨범4_노래3_장르1', 4, 1),
 (16, '앨범4_노래4_장르1', 4, 1),
 (17, '앨범5_노래1_장르2', 5, 2),
 (18, '앨범5_노래2_장르4', 5, 4),
 (19, '앨범5_노래3_장르2', 5, 2),
 (20, '앨범5_노래4_장르2', 5, 2),
 (21, '앨범6_노래1_장르1', 6, 1),
 (22, '앨범6_노래2_장르2', 6, 2),
 (23, '앨범6_노래3_장르2', 6, 2),
 (24, '앨범6_노래4_장르3', 6, 3),
 (25, '앨범7_노래1_장르4', 7, 4),
 (26, '앨범7_노래2_장르3', 7, 3),
 (27, '앨범7_노래3_장르2', 7, 2),
 (28, '앨범7_노래4_장르1', 7, 1),
 (29, '앨범8_노래1_장르1', 8, 1),
 (30, '앨범8_노래2_장르1', 8, 1),
 (31, '앨범8_노래3_장르1', 8, 1),
 (32, '앨범8_노래4_장르2', 8, 2)]

In [79]:
con.execute(select(func.count(A.c.PK))).fetchall(),\
con.execute(select(func.count(B.c.PK))).fetchall(),\
con.execute(select(func.count(C.c.PK))).fetchall(),\
con.execute(select(func.count(D.c.PK))).fetchall()

2023-09-06 11:54:57,838 INFO sqlalchemy.engine.Engine SELECT count("T_Artist"."PK") AS count_1
FROM "T_Artist"
2023-09-06 11:54:57,840 INFO sqlalchemy.engine.Engine [generated in 0.00190s] ()
2023-09-06 11:54:57,842 INFO sqlalchemy.engine.Engine SELECT count("T_Album"."PK") AS count_1
FROM "T_Album"
2023-09-06 11:54:57,843 INFO sqlalchemy.engine.Engine [generated in 0.00097s] ()
2023-09-06 11:54:57,845 INFO sqlalchemy.engine.Engine SELECT count("T_Genre"."PK") AS count_1
FROM "T_Genre"
2023-09-06 11:54:57,845 INFO sqlalchemy.engine.Engine [generated in 0.00100s] ()
2023-09-06 11:54:57,848 INFO sqlalchemy.engine.Engine SELECT count("T_Track"."PK") AS count_1
FROM "T_Track"
2023-09-06 11:54:57,848 INFO sqlalchemy.engine.Engine [generated in 0.00080s] ()

([(4,)], [(8,)], [(4,)], [(32,)])

In [80]:
print(select(A.c.NAME, B.c.NAME).where(A.c.PK==B.c.FK))

SELECT "T_Artist"."NAME", "T_Album"."NAME" AS "NAME_1"
FROM "T_Artist", "T_Album"
WHERE "T_Artist"."PK" = "T_Album"."FK"

In [81]:
print(select(A.c.NAME, B.c.NAME).join(B))
print(select(A.c.NAME, B.c.NAME).join(B, A.c.PK==B.c.FK))

SELECT "T_Artist"."NAME", "T_Album"."NAME" AS "NAME_1"
FROM "T_Artist" JOIN "T_Album" ON "T_Artist"."PK" = "T_Album"."FK"
SELECT "T_Artist"."NAME", "T_Album"."NAME" AS "NAME_1"
FROM "T_Artist" JOIN "T_Album" ON "T_Artist"."PK" = "T_Album"."FK"

In [82]:
print(select(A.c.NAME, B.c.NAME).select_from(A.join(B)))

SELECT "T_Artist"."NAME", "T_Album"."NAME" AS "NAME_1"
FROM "T_Artist" JOIN "T_Album" ON "T_Artist"."PK" = "T_Album"."FK"

In [83]:
con.execute(select(A.c.NAME, B.c.NAME).where(A.c.PK==B.c.FK)).fetchall()

2023-09-06 11:55:00,552 INFO sqlalchemy.engine.Engine SELECT "T_Artist"."NAME", "T_Album"."NAME" AS "NAME_1"
FROM "T_Artist", "T_Album"
WHERE "T_Artist"."PK" = "T_Album"."FK"
2023-09-06 11:55:00,553 INFO sqlalchemy.engine.Engine [generated in 0.00101s] ()

[('Singer1', '가수1_앨범1'),
 ('Singer1', '가수1_앨범2'),
 ('Singer2', '가수2_앨범1'),
 ('Singer2', '가수2_앨범2'),
 ('Singer3', '가수3_앨범1'),
 ('Singer3', '가수3_앨범2'),
 ('Singer4', '가수4_앨범1'),
 ('Singer4', '가수4_앨범2')]

In [84]:
con.execute(select(A.c.NAME, B.c.NAME).join(B)).fetchall()

2023-09-06 11:55:00,876 INFO sqlalchemy.engine.Engine SELECT "T_Artist"."NAME", "T_Album"."NAME" AS "NAME_1"
FROM "T_Artist" JOIN "T_Album" ON "T_Artist"."PK" = "T_Album"."FK"
2023-09-06 11:55:00,878 INFO sqlalchemy.engine.Engine [cached since 6.43s ago] ()

[('Singer1', '가수1_앨범1'),
 ('Singer1', '가수1_앨범2'),
 ('Singer2', '가수2_앨범1'),
 ('Singer2', '가수2_앨범2'),
 ('Singer3', '가수3_앨범1'),
 ('Singer3', '가수3_앨범2'),
 ('Singer4', '가수4_앨범1'),
 ('Singer4', '가수4_앨범2')]

In [85]:
con.execute(select(A.c.NAME, B.c.NAME).select_from(A.join(B))).fetchall()

2023-09-06 11:55:01,212 INFO sqlalchemy.engine.Engine SELECT "T_Artist"."NAME", "T_Album"."NAME" AS "NAME_1"
FROM "T_Artist" JOIN "T_Album" ON "T_Artist"."PK" = "T_Album"."FK"
2023-09-06 11:55:01,214 INFO sqlalchemy.engine.Engine [generated in 0.00174s] ()

[('Singer1', '가수1_앨범1'),
 ('Singer1', '가수1_앨범2'),
 ('Singer2', '가수2_앨범1'),
 ('Singer2', '가수2_앨범2'),
 ('Singer3', '가수3_앨범1'),
 ('Singer3', '가수3_앨범2'),
 ('Singer4', '가수4_앨범1'),
 ('Singer4', '가수4_앨범2')]

In [86]:
#가수 -앨범 - 노래
print(con.execute(select(A.c.NAME, B.c.NAME, D.c.NAME).select_from(A.join(B.join(D)))).fetchall())
con.execute(select(A.c.NAME, B.c.NAME, D.c.NAME).select_from(A.join(B.join(D)))).fetchall()

2023-09-06 11:55:01,847 INFO sqlalchemy.engine.Engine SELECT "T_Artist"."NAME", "T_Album"."NAME" AS "NAME_1", "T_Track"."NAME" AS "NAME_2"
FROM "T_Artist" JOIN ("T_Album" JOIN "T_Track" ON "T_Album"."PK" = "T_Track"."FK_Album") ON "T_Artist"."PK" = "T_Album"."FK"
2023-09-06 11:55:01,849 INFO sqlalchemy.engine.Engine [generated in 0.00163s] ()
[('Singer1', '가수1_앨범1', '앨범1_노래1_장르4'), ('Singer1', '가수1_앨범1', '앨범1_노래2_장르2'), ('Singer1', '가수1_앨범1', '앨범1_노래3_장르3'), ('Singer1', '가수1_앨범1', '앨범1_노래4_장르1'), ('Singer1', '가수1_앨범2', '앨범2_노래1_장르3'), ('Singer1', '가수1_앨범2', '앨범2_노래2_장르2'), ('Singer1', '가수1_앨범2', '앨범2_노래3_장르1'), ('Singer1', '가수1_앨범2', '앨범2_노래4_장르2'), ('Singer2', '가수2_앨범1', '앨범3_노래1_장르3'), ('Singer2', '가수2_앨범1', '앨범3_노래2_장르3'), ('Singer2', '가수2_앨범1', '앨범3_노래3_장르2'), ('Singer2', '가수2_앨범1', '앨범3_노래4_장르4'), ('Singer2', '가수2_앨범2', '앨범4_노래1_장르2'), ('Singer2', '가수2_앨범2', '앨범4_노래2_장르3'), ('Singer2', '가수2_앨범2', '앨범4_노래3_장르1'), ('Singer2', '가수2_앨범2', '앨범4_노래4_장르1'), ('Singer3', '가수3_앨범1', '앨범5_노래1_장르2'), ('Singer3', '가수3_앨범1', '앨범5_노래2_장르4'), ('Singer3', '가수3_앨범1', '앨범5_노래3_장르2'), ('Singer3', '가수3_앨범1', '앨범5_노래4_장르2'), ('Singer3', '가수3_앨범2', '앨범6_노래1_장르1'), ('Singer3', '가수3_앨범2', '앨범6_노래2_장르2'), ('Singer3', '가수3_앨범2', '앨범6_노래3_장르2'), ('Singer3', '가수3_앨범2', '앨범6_노래4_장르3'), ('Singer4', '가수4_앨범1', '앨범7_노래1_장르4'), ('Singer4', '가수4_앨범1', '앨범7_노래2_장르3'), ('Singer4', '가수4_앨범1', '앨범7_노래3_장르2'), ('Singer4', '가수4_앨범1', '앨범7_노래4_장르1'), ('Singer4', '가수4_앨범2', '앨범8_노래1_장르1'), ('Singer4', '가수4_앨범2', '앨범8_노래2_장르1'), ('Singer4', '가수4_앨범2', '앨범8_노래3_장르1'), ('Singer4', '가수4_앨범2', '앨범8_노래4_장르2')]
2023-09-06 11:55:01,852 INFO sqlalchemy.engine.Engine SELECT "T_Artist"."NAME", "T_Album"."NAME" AS "NAME_1", "T_Track"."NAME" AS "NAME_2"
FROM "T_Artist" JOIN ("T_Album" JOIN "T_Track" ON "T_Album"."PK" = "T_Track"."FK_Album") ON "T_Artist"."PK" = "T_Album"."FK"
2023-09-06 11:55:01,853 INFO sqlalchemy.engine.Engine [cached since 0.005385s ago] ()

[('Singer1', '가수1_앨범1', '앨범1_노래1_장르4'),
 ('Singer1', '가수1_앨범1', '앨범1_노래2_장르2'),
 ('Singer1', '가수1_앨범1', '앨범1_노래3_장르3'),
 ('Singer1', '가수1_앨범1', '앨범1_노래4_장르1'),
 ('Singer1', '가수1_앨범2', '앨범2_노래1_장르3'),
 ('Singer1', '가수1_앨범2', '앨범2_노래2_장르2'),
 ('Singer1', '가수1_앨범2', '앨범2_노래3_장르1'),
 ('Singer1', '가수1_앨범2', '앨범2_노래4_장르2'),
 ('Singer2', '가수2_앨범1', '앨범3_노래1_장르3'),
 ('Singer2', '가수2_앨범1', '앨범3_노래2_장르3'),
 ('Singer2', '가수2_앨범1', '앨범3_노래3_장르2'),
 ('Singer2', '가수2_앨범1', '앨범3_노래4_장르4'),
 ('Singer2', '가수2_앨범2', '앨범4_노래1_장르2'),
 ('Singer2', '가수2_앨범2', '앨범4_노래2_장르3'),
 ('Singer2', '가수2_앨범2', '앨범4_노래3_장르1'),
 ('Singer2', '가수2_앨범2', '앨범4_노래4_장르1'),
 ('Singer3', '가수3_앨범1', '앨범5_노래1_장르2'),
 ('Singer3', '가수3_앨범1', '앨범5_노래2_장르4'),
 ('Singer3', '가수3_앨범1', '앨범5_노래3_장르2'),
 ('Singer3', '가수3_앨범1', '앨범5_노래4_장르2'),
 ('Singer3', '가수3_앨범2', '앨범6_노래1_장르1'),
 ('Singer3', '가수3_앨범2', '앨범6_노래2_장르2'),
 ('Singer3', '가수3_앨범2', '앨범6_노래3_장르2'),
 ('Singer3', '가수3_앨범2', '앨범6_노래4_장르3'),
 ('Singer4', '가수4_앨범1', '앨범7_노래1_장르4'),
 ('Singer4', '가수4_앨범1', '앨범7_노래2_장르3'),
 ('Singer4', '가수4_앨범1', '앨범7_노래3_장르2'),
 ('Singer4', '가수4_앨범1', '앨범7_노래4_장르1'),
 ('Singer4', '가수4_앨범2', '앨범8_노래1_장르1'),
 ('Singer4', '가수4_앨범2', '앨범8_노래2_장르1'),
 ('Singer4', '가수4_앨범2', '앨범8_노래3_장르1'),
 ('Singer4', '가수4_앨범2', '앨범8_노래4_장르2')]

In [92]:
#전부 다 섞어보기 가수 - 앨범 - 장르 - 노래
print(select(A.c.NAME, B.c.NAME, C.c.NAME, D.c.NAME).\
     select_from(A.join(B).join(D).join(C, C.c.PK==D.c.FK_Genre)))

con.execute(select(A.c.NAME, B.c.NAME, C.c.NAME, D.c.NAME).\
     select_from(A.join(B).join(D).join(C, C.c.PK==D.c.FK_Genre))).fetchall()

SELECT "T_Artist"."NAME", "T_Album"."NAME" AS "NAME_1", "T_Genre"."NAME" AS "NAME_2", "T_Track"."NAME" AS "NAME_3"
FROM "T_Artist" JOIN "T_Album" ON "T_Artist"."PK" = "T_Album"."FK" JOIN "T_Track" ON "T_Album"."PK" = "T_Track"."FK_Album" JOIN "T_Genre" ON "T_Genre"."PK" = "T_Track"."FK_Genre"
2023-09-06 11:58:30,262 INFO sqlalchemy.engine.Engine SELECT "T_Artist"."NAME", "T_Album"."NAME" AS "NAME_1", "T_Genre"."NAME" AS "NAME_2", "T_Track"."NAME" AS "NAME_3"
FROM "T_Artist" JOIN "T_Album" ON "T_Artist"."PK" = "T_Album"."FK" JOIN "T_Track" ON "T_Album"."PK" = "T_Track"."FK_Album" JOIN "T_Genre" ON "T_Genre"."PK" = "T_Track"."FK_Genre"
2023-09-06 11:58:30,263 INFO sqlalchemy.engine.Engine [cached since 5.522s ago] ()

[('Singer1', '가수1_앨범1', 'Genre4', '앨범1_노래1_장르4'),
 ('Singer1', '가수1_앨범1', 'Genre2', '앨범1_노래2_장르2'),
 ('Singer1', '가수1_앨범1', 'Genre3', '앨범1_노래3_장르3'),
 ('Singer1', '가수1_앨범1', 'Genre1', '앨범1_노래4_장르1'),
 ('Singer1', '가수1_앨범2', 'Genre3', '앨범2_노래1_장르3'),
 ('Singer1', '가수1_앨범2', 'Genre2', '앨범2_노래2_장르2'),
 ('Singer1', '가수1_앨범2', 'Genre1', '앨범2_노래3_장르1'),
 ('Singer1', '가수1_앨범2', 'Genre2', '앨범2_노래4_장르2'),
 ('Singer2', '가수2_앨범1', 'Genre3', '앨범3_노래1_장르3'),
 ('Singer2', '가수2_앨범1', 'Genre3', '앨범3_노래2_장르3'),
 ('Singer2', '가수2_앨범1', 'Genre2', '앨범3_노래3_장르2'),
 ('Singer2', '가수2_앨범1', 'Genre4', '앨범3_노래4_장르4'),
 ('Singer2', '가수2_앨범2', 'Genre2', '앨범4_노래1_장르2'),
 ('Singer2', '가수2_앨범2', 'Genre3', '앨범4_노래2_장르3'),
 ('Singer2', '가수2_앨범2', 'Genre1', '앨범4_노래3_장르1'),
 ('Singer2', '가수2_앨범2', 'Genre1', '앨범4_노래4_장르1'),
 ('Singer3', '가수3_앨범1', 'Genre2', '앨범5_노래1_장르2'),
 ('Singer3', '가수3_앨범1', 'Genre4', '앨범5_노래2_장르4'),
 ('Singer3', '가수3_앨범1', 'Genre2', '앨범5_노래3_장르2'),
 ('Singer3', '가수3_앨범1', 'Genre2', '앨범5_노래4_장르2'),
 ('Singer3', '가수3_앨범2', 'Genre1', '앨범6_노래1_장르1'),
 ('Singer3', '가수3_앨범2', 'Genre2', '앨범6_노래2_장르2'),
 ('Singer3', '가수3_앨범2', 'Genre2', '앨범6_노래3_장르2'),
 ('Singer3', '가수3_앨범2', 'Genre3', '앨범6_노래4_장르3'),
 ('Singer4', '가수4_앨범1', 'Genre4', '앨범7_노래1_장르4'),
 ('Singer4', '가수4_앨범1', 'Genre3', '앨범7_노래2_장르3'),
 ('Singer4', '가수4_앨범1', 'Genre2', '앨범7_노래3_장르2'),
 ('Singer4', '가수4_앨범1', 'Genre1', '앨범7_노래4_장르1'),
 ('Singer4', '가수4_앨범2', 'Genre1', '앨범8_노래1_장르1'),
 ('Singer4', '가수4_앨범2', 'Genre1', '앨범8_노래2_장르1'),
 ('Singer4', '가수4_앨범2', 'Genre1', '앨범8_노래3_장르1'),
 ('Singer4', '가수4_앨범2', 'Genre2', '앨범8_노래4_장르2')]

<br>**예제 01 끝**
***

## 예제 02

### 예제 02를 위해 초기화

In [121]:
meta.drop_all(engine)
meta.clear()

2023-09-06 12:10:10,672 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-06 12:10:10,674 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("Post")
2023-09-06 12:10:10,675 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-06 12:10:10,676 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("Post")
2023-09-06 12:10:10,677 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-06 12:10:10,678 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("HASHTAG")
2023-09-06 12:10:10,679 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-06 12:10:10,681 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("HASHTAG")
2023-09-06 12:10:10,681 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-06 12:10:10,682 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("POSTTAG")
2023-09-06 12:10:10,683 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-06 12:10:10,684 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("POSTTAG")
2023-09-06 12:10:10,684 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-06 12:10:10,685 INFO sqlalchemy.engine.Engine COMMIT

In [122]:
meta.remove(A)
meta.remove(B)
meta.remove(C)
meta.remove(D)

In [123]:
Table('POST', meta,
     Column('PK', Integer, primary_key=True),
     Column('CONTENT', Text),
      extend_existing=True
     )

Table('POST', MetaData(), Column('PK', Integer(), table=<POST>, primary_key=True, nullable=False), Column('CONTENT', Text(), table=<POST>), schema=None)

In [124]:
Table('HASHTAG', meta, 
     Column('PK', Integer, primary_key=True),
     Column('NAME', Text, nullable=False),
     Column('COUNT', Integer, server_default='0'),
      extend_existing=True
      
     )
#default = 0 은 인스턴스 객체에서 0으로 되는 것과, 서버에서 데이터 기본 0이 되는 차이점

Table('HASHTAG', MetaData(), Column('PK', Integer(), table=<HASHTAG>, primary_key=True, nullable=False), Column('NAME', Text(), table=<HASHTAG>, nullable=False), Column('COUNT', Integer(), table=<HASHTAG>, server_default=DefaultClause('0', for_update=False)), schema=None)

In [125]:
Table('POSTTAG', meta,
    Column('PFK', None, ForeignKey('POST.PK')),
    Column('HFK', Integer, ForeignKey('HASHTAG.PK')),
      extend_existing=True
     )

Table('POSTTAG', MetaData(), Column('PFK', Integer(), ForeignKey('POST.PK'), table=<POSTTAG>), Column('HFK', Integer(), ForeignKey('HASHTAG.PK'), table=<POSTTAG>), schema=None)

In [126]:
meta.create_all(engine)

2023-09-06 12:10:12,796 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-06 12:10:12,797 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("POST")
2023-09-06 12:10:12,798 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-06 12:10:12,799 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("POST")
2023-09-06 12:10:12,800 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-06 12:10:12,800 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("HASHTAG")
2023-09-06 12:10:12,801 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-06 12:10:12,802 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("HASHTAG")
2023-09-06 12:10:12,803 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-06 12:10:12,805 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("POSTTAG")
2023-09-06 12:10:12,806 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-06 12:10:12,807 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("POSTTAG")
2023-09-06 12:10:12,807 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-06 12:10:12,808 INFO sqlalchemy.engine.Engine
CREATE TABLE "POST" (
	"PK" INTEGER NOT NULL,
	"CONTENT" TEXT,
	PRIMARY KEY ("PK")
)


2023-09-06 12:10:12,809 INFO sqlalchemy.engine.Engine [no key 0.00066s] ()
2023-09-06 12:10:12,811 INFO sqlalchemy.engine.Engine
CREATE TABLE "HASHTAG" (
	"PK" INTEGER NOT NULL,
	"NAME" TEXT NOT NULL,
	"COUNT" INTEGER DEFAULT '0',
	PRIMARY KEY ("PK")
)


2023-09-06 12:10:12,811 INFO sqlalchemy.engine.Engine [no key 0.00060s] ()
2023-09-06 12:10:12,813 INFO sqlalchemy.engine.Engine
CREATE TABLE "POSTTAG" (
	"PFK" INTEGER,
	"HFK" INTEGER,
	FOREIGN KEY("PFK") REFERENCES "POST" ("PK"),
	FOREIGN KEY("HFK") REFERENCES "HASHTAG" ("PK")
)


2023-09-06 12:10:12,813 INFO sqlalchemy.engine.Engine [no key 0.00052s] ()
2023-09-06 12:10:12,815 INFO sqlalchemy.engine.Engine COMMIT

In [128]:
A = meta.tables['POST']
B = meta.tables['HASHTAG']
C = meta.tables['POSTTAG']

In [129]:
con.execute(B.insert().values(NAME='A'))

2023-09-06 12:10:39,342 INFO sqlalchemy.engine.Engine INSERT INTO "HASHTAG" ("NAME") VALUES (?)
2023-09-06 12:10:39,343 INFO sqlalchemy.engine.Engine [generated in 0.00167s] ('A',)

In [130]:
con.execute(select(B)).fetchall()

2023-09-06 12:10:54,535 INFO sqlalchemy.engine.Engine SELECT "HASHTAG"."PK", "HASHTAG"."NAME", "HASHTAG"."COUNT"
FROM "HASHTAG"
2023-09-06 12:10:54,537 INFO sqlalchemy.engine.Engine [generated in 0.00157s] ()

[(1, 'A', 0)]

In [131]:
con.execute(delete(B))

2023-09-06 12:11:02,969 INFO sqlalchemy.engine.Engine DELETE FROM "HASHTAG"
2023-09-06 12:11:02,971 INFO sqlalchemy.engine.Engine [generated in 0.00205s] ()

In [147]:
key = 'Python'
size = con.execute(select(func.count(B.c.PK)).where(B.c.NAME==key)).fetchone()[0]

if size == 0:
    con.execute(B.insert().values(NAME=key))
    
con.execute(select(B).where(B.c.NAME==key)).fetchone()

2023-09-06 12:23:33,616 INFO sqlalchemy.engine.Engine SELECT count("HASHTAG"."PK") AS count_1
FROM "HASHTAG"
WHERE "HASHTAG"."NAME" = ?
2023-09-06 12:23:33,617 INFO sqlalchemy.engine.Engine [cached since 587.5s ago] ('Python',)
2023-09-06 12:23:33,618 INFO sqlalchemy.engine.Engine INSERT INTO "HASHTAG" ("NAME") VALUES (?)
2023-09-06 12:23:33,619 INFO sqlalchemy.engine.Engine [cached since 774.3s ago] ('Python',)
2023-09-06 12:23:33,621 INFO sqlalchemy.engine.Engine SELECT "HASHTAG"."PK", "HASHTAG"."NAME", "HASHTAG"."COUNT"
FROM "HASHTAG"
WHERE "HASHTAG"."NAME" = ?
2023-09-06 12:23:33,621 INFO sqlalchemy.engine.Engine [cached since 681.7s ago] ('Python',)

(2, 'Python', 0)

1. POST에 본문 insert하기
2. insert된 PK 값 가져오기
3. 위에 코드를 이용해서 해시태그 PK 가져오기
4. POSTTAG 테이블에 POSTPK와 HASHTAGPK Insert하기
5. HASHTAG의 카운트를 +1 해주기, 단 PK=HASHTAG.PK

어제 코드 참조

## 실습 : 어제 SQL으로 작성한 문장 ORM Core 수준 언어로 바꿔보기

In [154]:
contentData = {'content':'Python Test 001', 'tag':'Python'}
count = con.execute(select(func.count(B.c.PK)).where(B.c.NAME==contentData['tag'])).fetchone()[0]

#if문으로 없을시 해시태그 생성
#어쩌구 잘하면 됌

2023-09-06 12:30:46,511 INFO sqlalchemy.engine.Engine SELECT count("HASHTAG"."PK") AS count_1
FROM "HASHTAG"
WHERE "HASHTAG"."NAME" = ?
2023-09-06 12:30:46,512 INFO sqlalchemy.engine.Engine [cached since 1020s ago] ('Python',)

1

In [146]:
con.execute(select(A)).fetchall()

2023-09-06 12:22:49,439 INFO sqlalchemy.engine.Engine SELECT "POST"."PK", "POST"."CONTENT"
FROM "POST"
2023-09-06 12:22:49,441 INFO sqlalchemy.engine.Engine [generated in 0.00169s] ()

[(1, 'Python Test 001')]

In [148]:
con.execute(select(B)).fetchall()

2023-09-06 12:23:49,097 INFO sqlalchemy.engine.Engine SELECT "HASHTAG"."PK", "HASHTAG"."NAME", "HASHTAG"."COUNT"
FROM "HASHTAG"
2023-09-06 12:23:49,099 INFO sqlalchemy.engine.Engine [cached since 774.6s ago] ()

[(1, 'ORM', 0), (2, 'Python', 0)]

In [ ]:
con.execute(C.insert().values())